# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\itss\ISD.ICT.20201.08\Programming\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
